body {
    background-image: url("./background.png");
    background-size: 100% inherit;

}

h1 {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
}

img {
    height: 280px;
    width: 250px;
    overflow: inherit;
}

p {
    text-align: center;
}

.projects {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33.333333%;
    flex-direction: row;
    justify-content: center;
}

.projects>* {
    margin: 10px;
}