* {
    box-sizing: border-box;
    margin: 0;
}

#kitties {
    height: 600px;
    position: relative;
    overflow: hidden;
    /* we only see whats in the div, because the pictures are > 600px */
}

#kitties img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* resizes the pictures */
    transform: translateX(100%);
}

#kitties img.onscreen {
    transform: translateX(0%);
    transition-property: transform;
    transition-duration: 3s;
}

#kitties img.exit-left {
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 3s;
}

.dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 3px greenyellow;
    margin: 10px;
    transition: background-color 2s ease;
}

#dots {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 550px;
}

.on {
    background-color: greenyellow;
}

.dot:hover {
    cursor: pointer;
}