* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    padding: 10px;
    background-color: #01937c;
}

#quotes-container {
    width: 90%;
    margin: 0 5%;
    text-align: center;
}

.quote {
    width: 350px;
    min-height: 200px;
    display: inline-block;
    margin: 10px 15px;
    margin-right: 0px;
    border: 3px solid #faf1e6;
    border-radius: 12px;
    background-color: #01937c;
    overflow: hidden;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 20px 0px;
    color: #faf1e6;
    font-size: 42px;
}

h2,
p {
    text-align: center;
    padding: 10px 15px;
    margin: 10px 0px;
    border-radius: 12px;
    background-color: transparent;
}

p {
    color: #faf1e6;
    font-size: small;
}
h2 {
    color: #ffc074;
    font-weight: 500;
    font-style: italic;
}

/* Media Query */
/* FOR ADJUSTING SCREEN SIZES: */

@media screen and (max-width: 1024px) {
    body {
        background-color: palevioletred;
    }

    .quote {
        width: 90%;
        background-color: bisque;
        border: 5px double greenyellow;
    }

    h2 {
        color: fuchsia;
    }
}

/* to change to darkmode: settings - personalizations - colors - choose mode */
/* DARKMODE SETTINGS */

@media (prefers-color-scheme: dark) {
    body {
        background-color: green;
    }
}

/* to target the print mode: */

@media print {
    body {
        background-color: white;
    }
}
