* {
    background-color: beige;
}

canvas {
    border: 3px solid brown;
}

#canvas {
    float: right;
}

#canvas2 {
    position: fixed;
    z-index: 1.1;
    left: -600px;
}

#canvas3 {
    position: relative;
    left: 100px;
}

.warning {
    background-color: red;
    color: blue;
    z-index: 1.2;
    position: relative;
    width: 200px;
    left: -600px;
}

.disappear {
    left: - 600px;
}

.appear {
    bottom: 400px;
    left: 450px;
}
