* {
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 10px;
    height: 70px;
    position: relative;
}

#logo {
    height: 50px;
    width: 50px;
}

#picLogo {
    height: 40px;
    width: 200px;
}

#menu-button {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#spices {
    height: 400px;
    width: 100%;
    position: relative;
    background-image: url("./assets/spices.jpg");
    background-position: center;
    background-size: cover;
}
/*I dont understand why it doesn't show the background picture ...*/

#welcomeText {
    position: absolute;
    display: inline-block;
    top: 35%;
    left: 30%;
    font-size: 40px;
    font-style: italic;
    color: white;
}

#getStarted {
    background-color: rgb(255, 217, 0);
    border: 4px solid orange;
    border-radius: 50%;
    width: 220px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: orange;
    position: absolute;
    padding: 5px;
    display: inline-block;
    top: 50%;
    left: 40%;
}

#text {
    height: 300px;
    width: 100%;
    background-color: grey;
    position: relative;
}

#top-left {
    position: absolute;
    font-size: 20px;
    left: 200px;
    top: 50px;
}

#top-right {
    position: absolute;
    right: 200px;
    top: 50px;
    font-size: 20px;
}

#bottom-left {
    position: absolute;
    bottom: 50px;
    left: 200px;
    font-size: 20px;
}

#bottom-right {
    position: absolute;
    bottom: 50px;
    right: 200px;
    font-size: 20px;
}

#topLeftPic {
    height: 30px;
    width: 30px;
}

footer {
    background-color: rgb(69, 65, 65);
    height: 40px;
    font-size: 16px;
    color: white;
    padding-left: 30px;
    padding-top: 10px;
}
