* {
    background-color: beige;
}

canvas {
    border: 3px solid brown;
}

#canvas {
    float: right;
}

#canvas2 {
    position: fixed;
    z-index: 1.1;
    left: -600px;
}

#canvas3 {
    position: relative;
    left: 100px;
}
