* {
    background-color: beige;
}

canvas {
    border: 3px solid brown;
}

#canvas {
    float: right;
}

#canvas2 {
    left: 0px;
    position: absolute;
    z-index: 1.1;
}

#canvas3 {
    position: absolute;
    left: 0px;
}
